<ion-view title="Signup" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Name</span>-->
                    <!--<input type="text" placeholder="">-->
                <!--</label>-->
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="signUp.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="" ng-model="signUp.password">
                </label>
            </ion-list>
            <button id="signup-button21" class="button button-stable  button-block" ng-click="signUpClick()">Sign up</button>
        </form>
    </ion-content>
</ion-view>